#Executable
test
#LKM intermediates
.tmp_versions/
.uttersense.ko.cmd
.uttersense.mod.o.cmd
.uttersense.o.cmd
Module.symvers
modules.order
uttersense.ko
uttersense.mod.c
uttersense.mod.o
uttersense.o

