#Executable
test
#Data files
data.csv
sample_rate_100Hz.xls
sample_rate_1000Hz.xls
#LKM intermediates
.mcp3008_dt.ko.cmd
.mcp3008_dt.mod.o.cmd
.mcp3008_dt.o.cmd
.tmp_versions/
Module.symvers
modules.order
mcp3008_dt.ko
mcp3008_dt.mod.c
mcp3008_dt.mod.o
mcp3008_dt.o

